@media screen and (max-width:576px) {
    .logo-conteiner, 
    .banner-conteiner,
    .we-are-gamar-conteiner {
        flex-direction: column;
        margin: 0 auto !important;
    }
    .game{
        padding: 0 !important;
    }
    .nav-text ul{
        flex-direction: column;
    }
    .icon{
        padding: 20px !important;
        margin-top: 20px;
        margin-left: 10px !important;
    }
    .nav-text li{
        margin-top: 10px;
        text-align: center;
    }
    .banner-text{
        width: 100% !important;
    }
    .banner-text .btn-first{
        margin-left: 150px !important;
    }
    
    .banner-text .btn-second{
        margin-left: 150px !important;
    }
    .banner-img{
        width: 80% !important;
    }
  
    .we-are-gamar-img{
        width: 80%;
    }
    .we-are-gamar-text h2 p {
        text-align:center;
    }
    .we-are-gamar-text button {
        margin-left: 300px !important;
    }
    .we-are-gamar-text .p2{
        text-align:center;
    }
    .we-are-gamar-text{
        margin-left: 200px;
    }
    /* card part */
    #main-card-conteiner {
        width: 100% !important;
        margin-top: 100px !important ;
    }
    .card {
      flex-direction: column;
    }
    .card .conteiner{
        width: 100%;
        margin-top: 100px !important;

    }
    .card .conteiner .title-1 {
        margin-top: 50px !important;
    }
/* play part */
.play-contein{
    flex-direction: column;
    margin: 100px 200px !important;
}
.play-contein .play-text{
        margin: 10px 10px 40px 10px;
  
}

/* button part */
.button-conteiner{
    margin: 80px 50px  !important;
}
footer{
    width: 100% !important;
}
.footer-conteiner{
    padding: 0 !important;

}
}




@media screen and (max-width:577px) and (max-width:960px){

    .logo-conteiner {
        flex-direction: column;
        margin: 0 100px !important;
        
    }
    .nav-text ul{
        flex-direction: column;
    }
    .banner-text{
        margin-right: 300px !important;
    }
    .banner-img {
        padding-left: 500px !important;
    }
    .banner-text .btn-first{
        margin-left: 100px !important;

    }
    .we-are-gamar-img{
        margin-right: 100px !important;
    }


}












