@media screen and (max-width:576px) {
    .logo-conteiner, 
    .banner-conteiner,
    .we-are-gamar-conteiner {
        flex-direction: column;
        margin: 0 auto !important;
    }
    .game{
        padding: 0 !important;
    }
    .nav-text ul{
        flex-direction: column;
    }
    .icon{
        padding: 20px !important;
        margin-top: 20px;
        margin-left: 10px !important;
    }
    .nav-text li{
        margin-top: 10px;
        text-align: center;
    }
    .banner-text{
        width: 100% !important;
    }
    .banner-text .btn-first{
        margin-left: 150px !important;
    }
    
    .banner-text .btn-second{
        margin-left: 150px !important;
    }
    .banner-img{
        width: 80% !important;
    }
  
    .we-are-gamar-img{
        width: 80%;
    }
    .we-are-gamar-text h2 p {
        text-align:center;
    }
    .we-are-gamar-text button {
        margin-left: 300px !important;
    }
    .we-are-gamar-text .p2{
        text-align:center;
    }
    .we-are-gamar-text{
        margin-left: 200px;
    }
}